body {
  font-family: sans-serif;
  background-color: #ddf0f5;
  color: #e6e2db;
}

header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #4a90e2;
}

header img {
  width: 2rem;
  object-fit: contain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

header h1 {
  color: #4a90e2;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 0.5rem 0;
  color: #4a90e2;
}
