.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  padding: 2em;
}

.counter{
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 10px 14px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 999;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: start; /* Aligns items to the start of the container */
  padding: 20px;
}

/* If you want to add a gap between the two components */
.app-container > *:not(:last-child) {
  margin-right: 20px;
}
